.topbanner {
  width: 100%;
  overflow: hidden;
}

.topbanner picture,
.topbanner img {
  width: 100%;
  display: block;
}

.topbanner img {
  height: auto;
  object-fit: cover;
}

/* Mobile */
@media (width <= 768px) {
  .topbanner img {
    height: 200px;
  }
}